:root {
  --primary: #4628ff;
  --warning: #ffd028;
  --danger: #eb3f27;
  --succes: #75fa83;
  --white: #fdfdfd;
  --dark: #181711;
}

.nav {
  background-color: var(--warning);
  height: 80px;
  display: flex;
  padding-left: 4%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 20px;
}

.nav .link {
  color: var(--dark);
  text-decoration: none;
  display: flex;
  padding: 0 1rem;
  cursor: pointer;
}

.searchBar {
  display: flex;
  align-items: center;
  padding-left: 8%;
}

.navMenu {
  padding-left: 10%;
  display: flex;
  align-items: center;
}
